<a href="https://colab.research.google.com/github/s-neela/neela_INFO5731_spring2021/blob/main/Copy_of_In_class_exercise_09_(1)_(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The ninth in-class-exercise (20 points in total, 4/16/2021)**

The purpose of the exercise is to practice different machine learning algorithms for text classification as well as the performance evaluation. In addition, you are requried to conduct *10 fold cross validation (https://scikit-learn.org/stable/modules/cross_validation.html)* in the training. 

The dataset can be download from here: https://github.com/unt-iialab/info5731_spring2021/blob/main/class_exercises/exercise09_datacollection.zip. The dataset contains two files train data and test data for sentiment analysis in IMDB review, it has two categories: 1 represents positive and 0 represents negative. You need to split the training data into training and validate data (80% for training and 20% for validation, https://towardsdatascience.com/train-test-split-and-cross-validation-in-python-80b61beca4b6) and perform 10 fold cross validation while training the classifier. The final trained model was final evaluated on the test data. 

Algorithms:

(1) MultinominalNB

(2) SVM 

(3) KNN 

(4) Decision tree

(5) Random Forest

(6) XGBoost

Evaluation measurement:

(1) Accuracy

(2) Recall

(3) Precison 

(4) F-1 score

In [ ]:
# Write your code here

import pandas as pd
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score
from sklearn.naive_bayes import MultinomialNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import LinearSVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, cross_validate, StratifiedKFold
from xgboost import XGBClassifier

train_df = pd.read_csv(r'/content/stsa-train.txt',sep = 'delimiter=',header= None,names=['review'])
test_df = pd.read_csv(r'/content/stsa-test.txt',sep = 'delimiter=',header= None,names=['review'])

train_df[['Sentiment','review']] = train_df["review"].str.split(" ", 1, expand=True)
test_df[['Sentiment','review']] = test_df["review"].str.split(" ", 1, expand=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [ ]:
train_df.head()

                                              review Sentiment
0  a stirring , funny and finally transporting re...         1
1  apparently reassembled from the cutting-room f...         0
2  they presume their audience wo n't sit still f...         0
3  this is a visually stunning rumination on love...         1
4  jonathan parker 's bartleby should have been t...         1

In [ ]:
test_df.head()

                                              review Sentiment
0     no movement , no yuks , not much of anything .         0
1  a gob of drivel so sickly sweet , even the eag...         0
2  gangs of new york is an unapologetic mess , wh...         0
3  we never really feel involved with the story ,...         0
4            this is one of polanski 's best films .         1

In [ ]:
import nltk
import re
import string
nltk.download('stopwords')
nltk.download('wordnet')
stopword=nltk.corpus.stopwords.words('english')
from nltk.stem import WordNetLemmatizer
wl= WordNetLemmatizer()

def clean_text(text):
  text="".join([word.lower() for word in text if word not in string.punctuation])
  text = re.sub("^\d+\s|\s\d+\s|\s\d+$", " ", text)
  tokens = re.split('\W+',text)
  text = [wl.lemmatize(word) for word in tokens if word not in stopword]
  return text

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vect = TfidfVectorizer(analyzer = clean_text)
X_tfidf = tfidf_vect.fit_transform(train_df['review'])
print(X_tfidf.shape)

(6920, 13343)

In [ ]:
X_tfidf_df=pd.DataFrame(X_tfidf.toarray())
X_tfidf_df.columns=tfidf_vect.get_feature_names()
X_tfidf_df.head()

             100minute  103minute  10course  ...  zoom  zwick  zzzzzzzzz  élan
0  0.000000        0.0        0.0       0.0  ...   0.0    0.0        0.0   0.0
1  0.048154        0.0        0.0       0.0  ...   0.0    0.0        0.0   0.0
2  0.029784        0.0        0.0       0.0  ...   0.0    0.0        0.0   0.0
3  0.049596        0.0        0.0       0.0  ...   0.0    0.0        0.0   0.0
4  0.048782        0.0        0.0       0.0  ...   0.0    0.0        0.0   0.0

[5 rows x 13343 columns]

In [ ]:
X_test_tfidf = tfidf_vect.transform(test_df['review'])
print(X_test_tfidf.shape)

(1821, 13343)

In [ ]:
mnb = MultinomialNB()
svm = LinearSVC()
knn = KNeighborsClassifier(n_neighbors=5,n_jobs=-1)
dt = DecisionTreeClassifier()
rf = RandomForestClassifier()
xgb = XGBClassifier()

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X_tfidf_df, train_df['Sentiment'].values,
                                                test_size=0.2, random_state=42)

In [ ]:
model_mnb = mnb.fit(x_train,y_train)

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
y_pred_mnb = model_mnb.predict(x_test)
print('Accuracy %s' % accuracy_score(y_pred_mnb,y_test))
print(classification_report(y_test,y_pred_mnb))

Accuracy 0.7955202312138728
              precision    recall  f1-score   support

           0       0.85      0.70      0.77       671
           1       0.76      0.88      0.82       713

    accuracy                           0.80      1384
   macro avg       0.80      0.79      0.79      1384
weighted avg       0.80      0.80      0.79      1384

In [ ]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(mnb, x_test, y_test, cv=10)
print("using MNB",scores.mean())

using MNB 0.7247054530288813

In [ ]:
model_svm = svm.fit(x_train,y_train)
y_pred_svm = model_svm.predict(x_test)
print('Accuracy %s' % accuracy_score(y_pred_svm,y_test))
print(classification_report(y_test,y_pred_svm))

Accuracy 0.791907514450867
              precision    recall  f1-score   support

           0       0.81      0.75      0.78       671
           1       0.78      0.83      0.80       713

    accuracy                           0.79      1384
   macro avg       0.79      0.79      0.79      1384
weighted avg       0.79      0.79      0.79      1384

In [ ]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(svm, x_test, y_test, cv=10)
print("using svm",scores.mean())

using svm 0.7348034615785632

In [ ]:
model_knn = knn.fit(x_train,y_train)
y_pred_knn = model_knn.predict(x_test)
print('Accuracy %s' % accuracy_score(y_pred_knn,y_test))
print(classification_report(y_test,y_pred_knn))

Accuracy 0.7398843930635838
              precision    recall  f1-score   support

           0       0.74      0.70      0.72       671
           1       0.74      0.77      0.75       713

    accuracy                           0.74      1384
   macro avg       0.74      0.74      0.74      1384
weighted avg       0.74      0.74      0.74      1384

In [ ]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(knn, x_test, y_test, cv=10)
print("using knn",scores.mean())

using knn 0.6675737670732979

In [ ]:
model_dt = dt.fit(x_train,y_train)
y_pred_dt = model_dt.predict(x_test)
print('Accuracy %s' % accuracy_score(y_pred_dt,y_test))
print(classification_report(y_test,y_pred_dt))

Accuracy 0.6567919075144508
              precision    recall  f1-score   support

           0       0.65      0.62      0.64       671
           1       0.66      0.69      0.67       713

    accuracy                           0.66      1384
   macro avg       0.66      0.66      0.66      1384
weighted avg       0.66      0.66      0.66      1384

In [ ]:
scores = cross_val_score(dt, x_test, y_test, cv=10)
print("using decision trees",scores.mean())

using decision trees 0.6213533521009279

In [ ]:
model_rf = rf.fit(x_train,y_train)
y_pred_rf = model_rf.predict(x_test)
print('Accuracy %s' % accuracy_score(y_pred_rf,y_test))
print(classification_report(y_test,y_pred_rf))

Accuracy 0.7369942196531792
              precision    recall  f1-score   support

           0       0.76      0.67      0.71       671
           1       0.72      0.80      0.76       713

    accuracy                           0.74      1384
   macro avg       0.74      0.74      0.74      1384
weighted avg       0.74      0.74      0.74      1384

In [ ]:
scores = cross_val_score(rf, x_test, y_test, cv=10)
print("using random forest",scores.mean())

using random forest 0.6798456886664582

In [ ]:
model_xgb = xgb.fit(x_train,y_train)
y_pred_xgb = model_xgb.predict(x_test)
print('Accuracy %s' % accuracy_score(y_pred_xgb,y_test))
print(classification_report(y_test,y_pred_xgb))

Accuracy 0.6445086705202312
              precision    recall  f1-score   support

           0       0.75      0.40      0.52       671
           1       0.61      0.88      0.72       713

    accuracy                           0.64      1384
   macro avg       0.68      0.64      0.62      1384
weighted avg       0.68      0.64      0.62      1384

In [ ]:
scores = cross_val_score(xgb, x_test, y_test, cv=10)
print("using xgb",scores.mean())

using xgb 0.6184704410384736

In [ ]:
test_predict_mnb = model_mnb.predict(X_test_tfidf)
print('Accuracy %s' % accuracy_score(test_predict_mnb,test_df['Sentiment']))
print(classification_report(test_predict_mnb,test_df['Sentiment']))

Accuracy 0.7946183415705657
              precision    recall  f1-score   support

           0       0.70      0.87      0.77       730
           1       0.89      0.75      0.81      1091

    accuracy                           0.79      1821
   macro avg       0.79      0.81      0.79      1821
weighted avg       0.81      0.79      0.80      1821

In [ ]:
test_predict_svm = model_svm.predict(X_test_tfidf)
print('Accuracy %s' % accuracy_score(test_predict_svm,test_df['Sentiment']))
print(classification_report(test_predict_svm,test_df['Sentiment']))

Accuracy 0.7891268533772653
              precision    recall  f1-score   support

           0       0.75      0.81      0.78       844
           1       0.83      0.77      0.80       977

    accuracy                           0.79      1821
   macro avg       0.79      0.79      0.79      1821
weighted avg       0.79      0.79      0.79      1821