<a href="https://colab.research.google.com/github/s-neela/neela_INFO5731_spring2021/blob/main/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (9/2/2020, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [ ]:
# write your answer here
import sys

string = input("Enter the String : ")
print(f"Length of String '{string}' is : '")
print(len(string))

Enter the String : Hello Neela Ram
Length of String 'Hello Neela Ram' is : '
15

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [4]:
# write your answer here
string = input("Enter the String : ")

result = {i : string.count(i) for i in set(string)}

print(f"Number of Characters in String '{string}' is : ")
print(result)

Enter the String : google.com
{'g', 'c', '.', 'l', 'e', 'm', 'o'}
Number of Characters in String 'google.com' is :
{'g': 2, 'c': 1, '.': 1, 'l': 1, 'e': 1, 'm': 1, 'o': 3}

(3) Write a Python program to sum all the items in a list. (2 points)

In [6]:
# write your answer here
list = [10,9,12,15,17]
total = sum(list)

print(f"Sum of all the items in a list '{list}' is : ")
print(total)

Sum of all the items in a list '[10, 9, 12, 15, 17]' is :
63

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [33]:
# write your answer here
import sys

inputstring = input("Enter String : ")
firstChar = inputstring[0]
replaced = inputstring.replace(firstChar, '$')
result = firstChar + replaced[1:]

print(f"Result is : {result}")

Enter String : google
Result is : goo$le

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [11]:
# write your answer here
import math
import sys

a = int(input("Enter the Value of a: ")) 
b = int(input("Enter the value of b: "))


s = 3.14 * pow((1+(a/b)),3)

print(f"Result is : {s}")

Enter the Value of a: 10
Enter the value of b: 20
Result is : 10.5975

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [20]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50, 6:60}

result = dict(dic1)
result.update(dic2)
result.update(dic3)

print(result)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [26]:
# write your answer here
testTuple = ("a", 3 , "x", 19, "v")

print(f"Checking 3 exist in tuple {testTuple} : {3 in testTuple}")
print(f"Checking 10 exist in tuple {testTuple} : {10 in testTuple}")

Checking 3 exist in tuple ('a', 3, 'x', 19, 'v') : True
Checking 10 exist in tuple ('a', 3, 'x', 19, 'v') : False

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [23]:
# write your answer here
testset = [10,29,18,19,12]
maxVlaue = max(testset)
minValue = min(testset)

print(f"Max Value in set {testset} : {maxVlaue}")
print(f"Min Value in set {testset} : {minValue}")

Max Value in set [10, 29, 18, 19, 12] : 29
Min Value in set [10, 29, 18, 19, 12] : 10

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [27]:
# write your answer here
import random 
def partition (list_in, n):
    random.shuffle(list_in)
    return [list_in[i::n] for i in range(n)]

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']


print(partition(studnet_list,5))

[['pc0353', 'dd0420', 'rrk0058', 'msp0174', 'dy0091'], ['rs0850', 'rak0120', 'mv0299', 'ss1995', 'spk0057'], ['tv0119', 'at0768', 'nm0547', 'vl0135'], ['yye0005', 'vmb0067', 'pn0159', 'ds0761'], ['at0739', 'snd0097', 'sg0940', 'bk0301']]